@model IEnumerable<visualstudio.Models.Email>

    @{
    ViewData["Title"] = "Show";
    }

    <h2>Show</h2>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAddress)
                    </td>
                    <td>
                        <a asp-action="Index" asp-route-id="@item.Id">Edit</a>
                        <br>
                        <a asp-action="Text" asp-route-id="@item.Id">Generate Email</a>
                    </td>
                </tr>
}
        </tbody>
    </table>
